<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/home.css}"/>
</head>
<body>
	 <nav id="navbar">
        
        <ul style="padding-left: 502px;">
            <li class="item"><a href="/">Home</a></li>
          
            <li class="item"><a href="register">Register</a></li>
            
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary" style="color: rgb(0, 0, 128); font-weight: bolder;">User Registration</h1>
        <p style="color: rgb(0, 0, 128);">Start Collecting your user data in very smarter way. We provide very effcient and smarter way of handling data. </p>
        
        <button class="btn btn-primary">Get Start</button>
    </section>
</body>
   

</html>


           
               
  